@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+US+Trad+Guides&display=swap');

:root {
    --cor-primaria: #FEEE91;
    --cor-secundaria: #8CE4FF;
    --cor-terciaria: #FF5656;
    --cor-quartenaria: #FFA239;

    --fonte-primaria:  "Dancing Script", coursive;
    --fonte-secundaria:  "Playwrite US Trad Guides", coursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

#principal-conteudo {
    padding: 5rem;
}

#principal-conteudo-titulo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
}

#principal-conteudo h1,
#principal-conteudo h2 {
    font-family: var(--fonte-primaria);
    font-weight: 700;
}

/*#principal-conteudo h2 {
    text-align: center;
}*/

#principal-conteudo-mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#principal-conteudo-mensagem p {
    font-family: var(--fonte-secundaria);
}

#principal-conteudo-fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#principal-conteudo-fotos>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
