@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+US+Trad+Guides&display=swap');

:root {
    --cor-primaria: #FEEE91;
    --cor-secundaria: #8CE4FF;
    --cor-terciaria: #FF5656;
    --cor-quartenaria: #FFA239;

    --fonte-primaria:  "Dancing Script", coursive;
    --fonte-secundaria:  "Playwrite US Trad Guides", coursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

#topo {
    padding: 20px 0px 20px 250px;
}

#topo-menu {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
}

#topo-menu li a {
    text-decoration: none;
    font-family: var(--fonte-primaria);
}



#principal-conteudo {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

#principal-conteudo h1,
#principal-conteudo h2 {
    font-family: var(--fonte-primaria);
    font-weight: 700;
    padding-bottom: 2rem;
    font-size: 2rem;
}

#principal-conteudo-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

#principal-conteudo-titulo h1 {
    width: 400px;
    text-align: center;
}

/*#principal-conteudo h2 {
    text-align: center;
}*/

#principal-conteudo-mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#principal-conteudo-mensagem p {
    font-family: var(--fonte-secundaria);
}

#principal-conteudo-fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#principal-conteudo-fotos>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
}